@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Noto Sans', sans-serif;
    color: #380B61;
    margin-left: 7%;
}

#subtitulo {
    font-family: 'Noto Sans',sans-serif;
    color: #380B61;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body {
    background-color: #f0f8ff;
    font-family: 'Noto Sans',sans-serif;    
    font-size: 1em;
    color: #59429d;     
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, textarea, button {
    font-family: 'Noto Sans',sans-serif;    
    font-size: 1em;
    color: #59429d;    
    border-radius: 5px;
}

/* .grupo:before, .grupo:after{
    display: table;
}

.grupo:after{
    clear: both;
} */

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* .campo input[type="text"],.campo input[type="email"], .campo select, .campo textarea { */
.campo input[type="number"], .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    mask-type: '##';
}

/* .campo select option {
    padding-right: 1em;
} */

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
}

.btnCalcular {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 18%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btnCalcular:hover {
    background: #ccbbff;    
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.btnCalcular select {
    cursor: pointer;
}

/* #check {
    display: inline-block;
} */