@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.info{
    color: rgba(7, 7, 7, 0.5);
    font-size: 1.2rem;
    padding: 10px;
}