@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
body {    
    font-family: 'Noto Sans', sans-serif;
}

ul,
ol {
    padding: 0;
}

li {
    margin-left: 60px;
}

.tag {
    border: solid 4px;
    margin: 5px;
}

.tag label{
    color: #fff;
    font-size: 25px;
    vertical-align: top;
    margin-right: 10px;
    padding: 0px 5px 3px 3px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}