@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}