@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
}

.grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.player-one::before {
    content: '🔴';
}

.player-two::before {
    content: '🔵';
}